<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./static/style/box-style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

</head>
<body>
  <div class="container">
    <div id="snake">
      <canvas ref="gameZone"></canvas>
      <div id="gameStart" v-if="!isPlaying && win === null">
        <span id="welcomeMessage">Click her to play snake</span>
        <button @click="startGame">Start</button>
      </div>
    </div>
  </div>
  <script src="./static/js/snake.js"></script>
</body>
</html>