<%- include('../parts/head') %>
  <title>Operations</title>
  <link rel="stylesheet" href="./static/style/ops.css">
</head>
<body>
<script>
  const ops = <%- JSON.stringify(ops) %>;
</script>

  <div id="app">
    <div id="navbarOps">
      <input type="text" id="searchInput" placeholder=" " ref="searchInput" v-model="searchItem">
      <i id="searchIcon" @click="searchIconClick"></i>
      <i id="newOp" @click="addOp = true"></i>
    </div>
    <div id="opsList">
      <div class="op">
        <div class="isLive">is Live?</div>
        <div>Name</div>
        <div>Starting Date</div>
        <div>Ending Date</div>
      </div>
      <div class="op" v-for="op in ops">
        <div class="isLive">o</div>
        <div>{{op.name}}</div>
        <div>{{op.startDate||'unset'}}</div>
        <div>{{op.startDate||'unset'}}</div>
        <div class="edit">edit</div>
      </div>
    </div>
    <div id="newOpForm" v-if="addOp">
      <div>name</div>
      <input
        type="text"
        name="opName"
        v-model="form.name"
        :class="{error: !nameOk}"
        class="textInput"
      >
      <span v-if="!nameOk">{{form.name === ''? 'Please enter a name':'This operation already exist'}}</span>
      <div>dates</div>
      <input type="date" name="startDate" v-model="form.startDate">
      <input type="date" name="endDate" v-model="form.endDate">
      <button @click="submitForm">Send</button>
    </div>
  </div>

<script src="./static/js/ops.js"></script>
</body>
</html>